:root {
  --bg-body: #f3f3f3;
  --bg-header: #fff;
}
.dark{
  --bg-body: #202c36;
  --bg-header: #1b242c;
}

body {
  background: var(--bg-body);    
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
